.bmc-registration-component {
  @include bmc-base();
  @include bmc-card();
  @include bmc-card-body();
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
  .bmc-registration-field {
    display: flex;
    &--requires-registration {
      align-items: center;
      margin-bottom: 12px;
    }
    & > input[type="checkbox"] {
      margin: 1rem;
    }
    & > label {
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .bmc-registration-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
}
